.note {
    width: 210px;
    height: 120px;
    box-shadow: 5px 5px 5px grey;
    border: 1px grey solid;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;
    z-index: 1;

    &__title {
        font-size: 1.2rem;
        height: 20%;
        margin: 0;
        padding: 5px;
        overflow: hidden;

        &-edition {
            height: 1.2rem;
            padding: 5px;
            border-radius: 6px;
            margin: 5px;
            width: 90%;
        }
    }

    &__content {
        height: 60%;
        overflow: hidden;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
    }

    &__wrap {
        height: 100%;
    }
}
