.popup_notesInDay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 10px;
    position: relative;
    margin-top: 5px;
    padding: 15px;

    &__close {
     width: 150px;
     border: 1px solid grey;
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 20px auto 5px;
     border-radius: 6px;
     cursor: pointer;
    }

    &__closeNote {
        position: absolute;
        top: 1px;
        right: 1px;
        cursor: pointer;
    }
}