.notePopup {
    border-radius: 6px;
    padding: 10px;
    height: fit-content;
    width: 300px;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;

    @media(min-width: 600px) {
        width: 600px;
        min-height: 300px;
        left: 25%;
        top: 20%;
    }

    &__item {
        width: 80%;

        input {
            width: 100%;
            height: 30px;
            border-radius: 6px;
            font-size: large;
            padding: 1px 8px;
        }
        textarea {
            width: 100%;
            height: 80px;
            border-radius: 6px;
            resize: none;
            padding: 1px 8px;
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
}