.noteOptions {
    position: absolute;
    width: 85%;
    bottom: 3px;
    right: 1px;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.3s ease, height 0.3s ease;

    @media(min-width: 600px) {
        opacity: 0;
        height: 0;
    }

&-item {
        padding: 5px;
        margin: 0 1px;
       

        &:hover {
            cursor: pointer;
            border-radius: 50%;
            background-color: rgb(233, 232, 232);   
            width: 24px;
            height: 24px;
        }
    }
}

.hover {
    opacity: 1;
    height: auto;   
   
}