.formNote {
    display: flex;

    &__input {
        margin: 0.5rem 0.5rem 0.5rem 1rem;
        width: 200px;
        height: 30px;
        padding: 2px 9px;
        border: 1px solid grey;
        border-radius: 6px;
        box-shadow: 3px 3px 3px grey;

        @media(min-width: 600px){
           margin: 2rem auto;
           width: 30vw;
           height: 40px;
        }
    }

}