.login {
    display: flex;
    width: 90%;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
    padding: 0 1rem;

    @media(min-width: 600px) {
      width: 350px;  
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 1rem 0;
    }

    &__field {
        display: flex;
        justify-content: space-between;

        &-input {
            width: 170px;
            border-radius: 4px;
            height: 1.5rem;
            padding: 1px 10px;
            background-color: rgba(209, 216, 221, 0.5);

            &:focus {
                box-shadow: 0px 0px 50px greenyellow;
            }
        }
    }
    &__submit {
        width: 150px;
        margin: 0 auto;
        height: 2rem;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
        background-color: rgb(4, 62, 4);
        color: white;

        &:hover {
            background-color: rgb(8, 102, 8);
            box-shadow: 0px 0px 50px greenyellow;
        }
    }
}

.loginModule {
    margin: auto;
    width: 100vw;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 6px;
    // background-image: linear-gradient(to left bottom, rgba(56, 130, 56, 0.3), rgba(175, 255, 2, 0.3));
    background-color: white;
    box-shadow: 10px 10px 20px;
    transform:translateY(-50px);
    
    @media(min-width: 600px) {
        width: 400px;
    }

    &__title {
        margin: 1rem auto;
        text-align: center;
    }

    &__toRegister {
        margin: auto;
        text-align: center;

        &-click {
            font-style: italic;
            cursor: pointer;
        }
    }
}
